Repository section-engineering-education/engineering-education, pull requests merged in 2021-03, with the labels that each got.

#1460 How to Detect and Correct Multicollinearity in Regression Models
  articles/multicollinearity/hero.jpg
  articles/multicollinearity/index.md
Labels: article, ready for final review, tiered payout

#1513 How to Choose Levels of Logging
  articles/how-to-choose-levels-of-logging/hero.jpg
  articles/how-to-choose-levels-of-logging/index.md
Labels: assigned for review, ready for final review

#1561 vuejs 2-crud-with-localstorage
  articles/vue2-crud-app-with-localstorage/hero.jpg
  articles/vue2-crud-app-with-localstorage/index.md
  authors/espira-marvin/avatar.png
  authors/espira-marvin/index.md
Labels: assigned for review, good first article, ready for final review

#1475 Building a React.js Application Using Django REST framework
  articles/react-and-django-rest-framework/admin.jpg
  articles/react-and-django-rest-framework/adminpanel.jpg
  articles/react-and-django-rest-framework/api_fetched_data.jpg
  articles/react-and-django-rest-framework/dummy_data.jpg
  articles/react-and-django-rest-framework/final.jpg
  articles/react-and-django-rest-framework/hero.jpg
  articles/react-and-django-rest-framework/index.md
  articles/react-and-django-rest-framework/json.jpg
  authors/oruko-pius/avatar.jpg
  authors/oruko-pius/index.md
Labels: assigned for review, ready for final review, tech tutorial, tiered payout

#1559 Build A RESTful API With AdonisJS
  articles/build-a-restful-api-with-adonisjs/hero.jpg
  articles/build-a-restful-api-with-adonisjs/index.md
  articles/build-a-restful-api-with-adonisjs/test-api-auth.png
  articles/build-a-restful-api-with-adonisjs/test-api-error.png
  articles/build-a-restful-api-with-adonisjs/test-api-header.png
  authors/abel-mathew/index.md
  authors/solomon-eseme/avatar.png
  authors/solomon-eseme/index.md
Labels: good first article, ready for final review, tiered payout

#1581 Integration Challenges and Solutions in Software Development
  articles/integration-challenges-and-solutions-in-software-development/hero.jpg
  articles/integration-challenges-and-solutions-in-software-development/index.md
Labels: article, assigned for review, ready for final review, tiered payout

#1577 How to Implement Network Address Translation on a Cisco Router
  articles/implementing-network-address-translation/dynamic .jpg
  articles/implementing-network-address-translation/dynamiccon.JPG
  articles/implementing-network-address-translation/dynamictopo.JPG
  articles/implementing-network-address-translation/hero.jpg
  articles/implementing-network-address-translation/index.md
  articles/implementing-network-address-translation/nat.JPG
  articles/implementing-network-address-translation/pat.jpg
  articles/implementing-network-address-translation/patmulcon.JPG
  articles/implementing-network-address-translation/patsincon.JPG
  articles/implementing-network-address-translation/patsingle.JPG
  articles/implementing-network-address-translation/pattopo.JPG
  articles/implementing-network-address-translation/static.jpg
  articles/implementing-network-address-translation/staticcon.JPG
  articles/implementing-network-address-translation/statictopo.JPG
Labels: assigned for review, ready for final review, tech tutorial, tiered payout

#1531 Getting started with json web auth using angular 11 and node js
  articles/getting-started-with-jwt-using-angular8-and-nodejs/401-unauthorized.PNG
  articles/getting-started-with-jwt-using-angular8-and-nodejs/hero.jpg
  articles/getting-started-with-jwt-using-angular8-and-nodejs/index.md
  articles/getting-started-with-jwt-using-angular8-and-nodejs/success-token.PNG
  articles/getting-started-with-jwt-using-angular8-and-nodejs/token-generation1.PNG
  articles/getting-started-with-jwt-using-angular8-and-nodejs/webtest-error.PNG
  articles/getting-started-with-jwt-using-angular8-and-nodejs/webtest-success.PNG
  authors/ephraim-njoroge/avatar.jpg
  authors/ephraim-njoroge/index.md
Labels: assigned for review, good first article, ready for final review, tiered payout

#1464 Working with Forms in PHP
  articles/working-with-forms-in-php/form.png
  articles/working-with-forms-in-php/hero.jpg
  articles/working-with-forms-in-php/index.md
Labels: ready for final review, tiered payout

#1575 Spring Boot Docker tutorial
  articles/spring-docker/docker_create.png
  articles/spring-docker/docker_get.png
  articles/spring-docker/hero.jpg
  articles/spring-docker/index.md
Labels: assigned for review, ready for final review

#1594 python static typing
  articles/python-static-typing/hero.jpg
  articles/python-static-typing/index.md
Labels: duplicate

#1597 [Article Update] Choosing Between NPM and Yarn - Typo Fixes
  articles/npm-vs-yarn-which-one-to-choose/index.md
Labels: article update

#1368 Applications of artificial intelligence (AI) in design systems
  articles/applications-of-artificial-intelligence-ai-in-design-systems/hero.jpg
  articles/applications-of-artificial-intelligence-ai-in-design-systems/index.md
Labels: article, needs front matter, ready for final review

#1582 Getting Started with PHP
  articles/Introduction-to-PHP/helloworld.png
  articles/Introduction-to-PHP/hero.png
  articles/Introduction-to-PHP/index.md
Labels: assigned for review, ready for final review

#1593 Creating countdown in PHP, JavaScript-MySQL
  articles/creating-countdown-in-php-javascript-mysql/hero.jpg
  articles/creating-countdown-in-php-javascript-mysql/index.md
  articles/creating-countdown-in-php-javascript-mysql/timer.png
  articles/creating-countdown-in-php-javascript-mysql/timer_update.png
Labels: assigned for review, ready for final review

#1549 Getting started with Linux container security
  articles/getting-started-with-linux-container-security/hero.png
  articles/getting-started-with-linux-container-security/index.md
Labels: article, ready for final review

#1591 Detecting Botnets Using DNS-Based Technique
  articles/detecting-botnets-using-dns-based-technique/botnet-structure.png
  articles/detecting-botnets-using-dns-based-technique/failed-dns-request.png
  articles/detecting-botnets-using-dns-based-technique/hero.png
  articles/detecting-botnets-using-dns-based-technique/index.md
  authors/paul-muriku/avatar.jpg
  authors/paul-muriku/index.md
Labels: assigned for review, good first article, ready for final review

#1602 Getting started with android notifications
  articles/getting-started-android-notifications/android.png
  articles/getting-started-android-notifications/hero.jpg
  articles/getting-started-android-notifications/index.md
Labels: assigned for review, ready for final review

#1588 Flask Database Integration With SQLAlchemy
  articles/flask-database-integration-with-sqlalchemy/hero.jpg
  articles/flask-database-integration-with-sqlalchemy/index.md
  articles/flask-database-integration-with-sqlalchemy/response.png
Labels: assigned for review, ready for final review, tech tutorial

#1600 AngularJS Vs. Vue.js
  articles/angularjs-vs-vue.js/hero.jpg
  articles/angularjs-vs-vue.js/index.md
Labels: article, ready for final review

#1679 TransGAN: A Transformer based GAN architecture
  articles/transgan-a-transformer-based-gan-architecture/co-training.PNG
  articles/transgan-a-transformer-based-gan-architecture/hero.png
  articles/transgan-a-transformer-based-gan-architecture/index.md
  articles/transgan-a-transformer-based-gan-architecture/masked-pixel.PNG
  articles/transgan-a-transformer-based-gan-architecture/transgan-architecture.PNG
Labels: article, assigned for review, ready for final review

#1485 An Introduction to Secure Sockets Layer/Transport Layer Security Protocol
  articles/secure-sockets-layer-transport-layer-security/Asym.png
  articles/secure-sockets-layer-transport-layer-security/Handshake.png
  articles/secure-sockets-layer-transport-layer-security/Sym.png
  articles/secure-sockets-layer-transport-layer-security/hero.jpg
  articles/secure-sockets-layer-transport-layer-security/index.md
  articles/secure-sockets-layer-transport-layer-security/timeline.png
Labels: article, assigned for review

#1604 RESTful web API in Node.js using Postgres SQL and Express
  articles/restful-web-api-using-nodejs-postgressql-and-express/a-todo-list.jpg
  articles/restful-web-api-using-nodejs-postgressql-and-express/crud-operations-http-methods.png
  articles/restful-web-api-using-nodejs-postgressql-and-express/css-styling.jpg
  articles/restful-web-api-using-nodejs-postgressql-and-express/download.png
  articles/restful-web-api-using-nodejs-postgressql-and-express/ejs-views.jpg
  articles/restful-web-api-using-nodejs-postgressql-and-express/hero.jpg
  articles/restful-web-api-using-nodejs-postgressql-and-express/index.md
  articles/restful-web-api-using-nodejs-postgressql-and-express/nodemon-restart-the-server.jpg
  articles/restful-web-api-using-nodejs-postgressql-and-express/project-structure.png
  articles/restful-web-api-using-nodejs-postgressql-and-express/rest-http-protocol.png
  articles/restful-web-api-using-nodejs-postgressql-and-express/setting-the-ejs-views.jpg
  articles/restful-web-api-using-nodejs-postgressql-and-express/start-the-server.jpg
  articles/restful-web-api-using-nodejs-postgressql-and-express/todo-list-database-table.jpg
Labels: ready for final review, tech tutorial

#1696 Flutter folder organization
  articles/flutter-folder-organization/android-folder.png
  articles/flutter-folder-organization/assets folder.png
  articles/flutter-folder-organization/default-folders-and-files.png
  articles/flutter-folder-organization/hero.png
  articles/flutter-folder-organization/index.md
  articles/flutter-folder-organization/ios-folder.png
  articles/flutter-folder-organization/lib-folder.png
Labels: article, ready for final review

#1700 Dark theme using CSS variables and local storage
  articles/adding-dark-theme-to-your-site/after-adding-css.png
  articles/adding-dark-theme-to-your-site/dark-theme.png
  articles/adding-dark-theme-to-your-site/hero.png
  articles/adding-dark-theme-to-your-site/html-page.PNG
  articles/adding-dark-theme-to-your-site/index.md
  articles/adding-dark-theme-to-your-site/toggle-switch.png
  authors/phina-kersly/avatar.jpeg
  authors/phina-kersly/index.md
Labels: assigned for review, good first article, ready for final review, tech tutorial

#1714 Using Grid Search to Optimize Hyperparameters
  articles/grid-search/crossvalidation.png
  articles/grid-search/grid.png
  articles/grid-search/hero.jpg
  articles/grid-search/index.md
Labels: assigned for review, ready for final review, tech tutorial

#1702 How to use React to send a POST request to a Laravel application
  articles/react-axios-post-laravel/hero.jpg
  articles/react-axios-post-laravel/index.md
  articles/react-axios-post-laravel/screen-one.png
  articles/react-axios-post-laravel/screen-three.png
  articles/react-axios-post-laravel/screen-two.png
Labels: assigned for review, ready for final review, tech tutorial

#1584 Setting up CI/CD for Python Packages using GitHub Actions
  articles/setting-up-cicd-for-python-packages-using-github-actions/actions.png
  articles/setting-up-cicd-for-python-packages-using-github-actions/hero.png
  articles/setting-up-cicd-for-python-packages-using-github-actions/index.md
  authors/edidiong-etuk/avatar.jpg
  authors/edidiong-etuk/index.md
Labels: assigned for review, good first article, ready for final review, tech tutorial

#1607 Keyboard Events in JavaScript
  articles/keyboard-events-in-javascript/hero.jpg
  articles/keyboard-events-in-javascript/index.md
  articles/keyboard-events-in-javascript/javascript-keyboard-event-1.png
  articles/keyboard-events-in-javascript/javascript-keyboard-event-2.png
  articles/keyboard-events-in-javascript/javascript-keyboard-event-3.png
  articles/keyboard-events-in-javascript/js-keyboard-events-animation.gif
Labels: assigned for review, ready for final review, tech tutorial

#1699 Angular 11 - JWT Authentication Example & Tutorial With PHP
  articles/jwt-auth-angular/hero.jpg
  articles/jwt-auth-angular/index.md
Labels: assigned for review, ready for final review, tech tutorial

#1713 Understanding Inter-VLAN routing
  articles/inter-vlan-routing/hero.jpg
  articles/inter-vlan-routing/index.md
  articles/inter-vlan-routing/network.jpg
  articles/inter-vlan-routing/pc-ip-configuration.jpg
  articles/inter-vlan-routing/ping.jpg
  authors/atonya-dennis/avatar.jpeg
  authors/atonya-dennis/index.md
Labels: assigned for review, good first article, ready for final review, tech tutorial

#1717 Front End vs Back End in Web Development
  articles/front-end-vs-back-end-in-web-development/full-stack-development.png
  articles/front-end-vs-back-end-in-web-development/hero.jpg
  articles/front-end-vs-back-end-in-web-development/index.md
Labels: article, assigned for review, ready for final review

#1720 Working with lambda expressions in Kotlin
  articles/working-with-lambda-expressions-and-anonymous-functions/hero.png
  articles/working-with-lambda-expressions-and-anonymous-functions/index.md
  authors/raphael-ndonga/avatar.jpg
  authors/raphael-ndonga/index.md
Labels: good first article, ready for final review

#1730 What is Word2Vec
  articles/what-is-word2vec/cbow-skipgram.PNG
  articles/what-is-word2vec/hero.jpg
  articles/what-is-word2vec/index.md
  authors/wilkister-mumbi/avatar.jpg
  authors/wilkister-mumbi/index.md
Labels: article, good first article, ready for final review

#1741 Implementing AWS s3 functionalities on a Node.js graphql API
  articles/implementing-aws-s3-functionalities-on-a-nodejs-graphql-api/hero.jpg
  articles/implementing-aws-s3-functionalities-on-a-nodejs-graphql-api/index.md
Labels: assigned for review, ready for final review, tech tutorial

#1742 How to render HTML pages as an HTTP server response Using Node.js
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/body-parser.jpg
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/browser-inspector-tool-network-error-resolved.jpg
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/browser-inspector-tool-network-status-code.jpg
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/console-log-dirname.jpg
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/console-log-request-body.jpg
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/hero.jpg
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/html-page-as-server-response.jpg
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/html-page-with-css-as-server-response.jpg
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/index.md
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/server-post-error.jpg
  articles/rendering-html-pages-as-a-http-server-response-using-node-js/server-rendered-html-elements.jpg
  authors/moses-m/avatar.jpg
  authors/moses-m/index.md
Labels: good first article, ready for final review, tech tutorial

#1739 Working with Python's unittest
  articles/working-with-pythons-unittest/hero.png
  articles/working-with-pythons-unittest/index.md
  authors/stephen-mwangi/avatar.jpg
  authors/stephen-mwangi/index.md
Labels: assigned for review, good first article, needs front matter

#1692 Getting started with Spring Boot social authentication in Kotlin
  articles/spring-social-auth/github-auth.png
  articles/spring-social-auth/google-auth.png
  articles/spring-social-auth/hero.jpg
  articles/spring-social-auth/home.png
  articles/spring-social-auth/index.md
  articles/spring-social-auth/logged-in.png
Labels: assigned for review, ready for final review

#1694 Angular 11 - HTTP client quickstart guide
  articles/angular-http-client-quickstart-guide/hero.jpg
  articles/angular-http-client-quickstart-guide/index.md
  authors/owino-wendy/avatar.jpg
  authors/owino-wendy/index.md
Labels: assigned for review, good first article, ready for final review

#1744 Dunder-Methods-Python
  articles/dunder-methods-python/hero.jpg
  articles/dunder-methods-python/index.md
Labels: assigned for review, ready for final review

#1746 Building applications using Electron and React.js
  articles/desktop-application-with-react/dashboard.png
  articles/desktop-application-with-react/electron-demo-result.png
  articles/desktop-application-with-react/hero.jpg
  articles/desktop-application-with-react/index.md
Labels: assigned for review, ready for final review

#1763 Bitcoin Vs. Ethereum: Technical Perspective
  articles/bitcoin-vs-ethereum/Assymetric_Key_Cryptography.png
  articles/bitcoin-vs-ethereum/hero.jpg
  articles/bitcoin-vs-ethereum/index.md
Labels: assigned for review, ready for final review

#1766 How to insert 3D objects into a webpage using HTML and CSS
  articles/how-to-insert-3d-objects-into-a-webpage-using-html-and-css/Inserting-a-3D-model.png
  articles/how-to-insert-3d-objects-into-a-webpage-using-html-and-css/full-design.png
  articles/how-to-insert-3d-objects-into-a-webpage-using-html-and-css/hero.jpg
  articles/how-to-insert-3d-objects-into-a-webpage-using-html-and-css/index.md
  articles/how-to-insert-3d-objects-into-a-webpage-using-html-and-css/poly-VR-Headset.png
  articles/how-to-insert-3d-objects-into-a-webpage-using-html-and-css/structure-design.png
  authors/chris-mutua/avatar.jpg
  authors/chris-mutua/index.md
Labels: assigned for review, good first article, ready for final review, tech tutorial

#1806 Why Node.js is good for online store
  articles/why-nodejs-good-for-online-store/hero.jpg
  articles/why-nodejs-good-for-online-store/index.md
  authors/verah-ombui/avatar.jpg
  authors/verah-ombui/index.md
Labels: article, good first article, ready for final review

#1767 Connecting library application to SQL Server using Windows forms
  articles/connecting-library-application-to-sql-server-using-windows-forms/Addform.png
  articles/connecting-library-application-to-sql-server-using-windows-forms/Afterformwork.png
  articles/connecting-library-application-to-sql-server-using-windows-forms/Authors.png
  articles/connecting-library-application-to-sql-server-using-windows-forms/CreatingPubs.png
  articles/connecting-library-application-to-sql-server-using-windows-forms/Deleteform.png
  articles/connecting-library-application-to-sql-server-using-windows-forms/Editform.png
  articles/connecting-library-application-to-sql-server-using-windows-forms/Mainform.png
  articles/connecting-library-application-to-sql-server-using-windows-forms/Publishers.png
  articles/connecting-library-application-to-sql-server-using-windows-forms/Store.png
  articles/connecting-library-application-to-sql-server-using-windows-forms/hero.jpg
  articles/connecting-library-application-to-sql-server-using-windows-forms/index.md
Labels: assigned for review, ready for final review, tech tutorial

#1712 Deciding Between MariaDB and MySQL
  articles/deciding-between-mariadb-and-mysql/hero.jpg
  articles/deciding-between-mariadb-and-mysql/index.md
  authors/ernest-mwangi/avatar.jpg
  authors/ernest-mwangi/index.md
Labels: article, ready for final review

#1779 Data Classes in Python
  articles/data-classes-in-python/hero.jpg
  articles/data-classes-in-python/index.md
Labels: assigned for review, ready for final review, tech tutorial

#1783 How to create a responsive form using Tailwind CSS
  articles/how-to-create-a-responsive-form-using-TailwindCSS/form.png
  articles/how-to-create-a-responsive-form-using-TailwindCSS/hero.jpg
  articles/how-to-create-a-responsive-form-using-TailwindCSS/index.md
  authors/monica-masae/avatar.jpeg
  authors/monica-masae/index.md
Labels: assigned for review, good first article, ready for final review, tech tutorial

#1745 Speech Command Recognition With Tensorflow.js and React.js
  articles/speech-command-recognition-with-tensorflow-and-react/1-create-new-react-app.png
  articles/speech-command-recognition-with-tensorflow-and-react/2-preview-react-app.png
  articles/speech-command-recognition-with-tensorflow-and-react/3-list-of-command.png
  articles/speech-command-recognition-with-tensorflow-and-react/4-listening-for-command.png
  articles/speech-command-recognition-with-tensorflow-and-react/hero.png
  articles/speech-command-recognition-with-tensorflow-and-react/index.md
Labels: assigned for review, ready for final review, tech tutorial

#1872 [PATCH] Binary Tree Data Structure in Python
  articles/binary-tree-data-structure-python/index.md
Labels: article update, assigned for review

#1790 Internet Inconsistencies with R-Programming
  articles/internet-inconsistencies-with-r-programming/hero.jpg
  articles/internet-inconsistencies-with-r-programming/index.md
  articles/internet-inconsistencies-with-r-programming/ipinfolinux.jpg
  articles/internet-inconsistencies-with-r-programming/kex.jpg
  articles/internet-inconsistencies-with-r-programming/kexr.jpg
  articles/internet-inconsistencies-with-r-programming/kexry.jpg
  articles/internet-inconsistencies-with-r-programming/mainlocationsforasn47583.jpg
  articles/internet-inconsistencies-with-r-programming/r.jpg
  articles/internet-inconsistencies-with-r-programming/rplot.jpeg
  articles/internet-inconsistencies-with-r-programming/variableimportance.jpg
Labels: assigned for review, ready for final review, tech tutorial

#1836 Consuming co-operative bank API using Node.js
  articles/consuming-co-operative-bank-api-using-nodejs/account-balance-postman-response.png
  articles/consuming-co-operative-bank-api-using-nodejs/account-full-statement-postman-response.png
  articles/consuming-co-operative-bank-api-using-nodejs/account-mini-statement-postman-response.png
  articles/consuming-co-operative-bank-api-using-nodejs/account-validation-postman-response.png
  articles/consuming-co-operative-bank-api-using-nodejs/hero.jpg
  articles/consuming-co-operative-bank-api-using-nodejs/index.md
  articles/consuming-co-operative-bank-api-using-nodejs/send-to-mpesa-console-response.png
  articles/consuming-co-operative-bank-api-using-nodejs/send-to-mpesa-postman-response.png
Labels: ready for final review, tech tutorial

#1801 Android Dependency Injection With Koin
  articles/android-dependency-injection-using-koin/hero.jpg
  articles/android-dependency-injection-using-koin/index.md
Labels: ready for final review, tech tutorial

#1743 How to make an Image Carousell for your website using basic HTML,CSS and Javascript.
  articles/how-to-make-an-image-carousel-for-your-website/example.gif
  articles/how-to-make-an-image-carousel-for-your-website/hero.jpg
  articles/how-to-make-an-image-carousel-for-your-website/index.md
  authors/eugiene-kanillar/avatar.jpg
  authors/eugiene-kanillar/index.md
Labels: assigned for review, good first article, ready for final review, tech tutorial

#1835 Using Random Search to Optimize Hyperparameters
  articles/random-search-hyperparameters/hero.jpg
  articles/random-search-hyperparameters/index.md
  articles/random-search-hyperparameters/randomgrid.png
Labels: ready for final review, tech tutorial

#1777 Understanding c++ templates
  articles/understanding-c++-templates/hero.jpg
  articles/understanding-c++-templates/index.md
Labels: assigned for review, ready for final review, tech review

#1780 Understanding Pattern Recognition in Machine Learning
  articles/understanding-pattern-recognition-in-machine-learning/hero.jpg
  articles/understanding-pattern-recognition-in-machine-learning/index.md
  articles/understanding-pattern-recognition-in-machine-learning/phases-of-pattern-recognition.jpg
  articles/understanding-pattern-recognition-in-machine-learning/training-and-testing.png
  authors/ann-waweru/avatar.jpg
  authors/ann-waweru/index.md
Labels: assigned for review, good first article, ready for final review

#1805 Key Design of HDFS Architecture
  articles/key-design-of-hdfs-architecture/hero.jpg
  articles/key-design-of-hdfs-architecture/index.md
Labels: article, assigned for review, ready for final review

#1906 Add areas of expertise
  peer_reviewers/list-of-software-peer-reviewers.md
Labels: documentation

#1813 Google OAuth in React Native Application using Firebase
  articles/react-native-firebase-google-authentication/auth_get_starterd.png
  articles/react-native-firebase-google-authentication/auth_screen.gif
  articles/react-native-firebase-google-authentication/download_services.json.png
  articles/react-native-firebase-google-authentication/env_setup.png
  articles/react-native-firebase-google-authentication/firebase_new.png
  articles/react-native-firebase-google-authentication/folder_structure.png
  articles/react-native-firebase-google-authentication/google-enable.png
  articles/react-native-firebase-google-authentication/hero.jpg
  articles/react-native-firebase-google-authentication/index.md
  articles/react-native-firebase-google-authentication/new_dashboard.png
  articles/react-native-firebase-google-authentication/oauth_id.png
  articles/react-native-firebase-google-authentication/package_name.png
  articles/react-native-firebase-google-authentication/register_app.png
  articles/react-native-firebase-google-authentication/screens.jpg
  articles/react-native-firebase-google-authentication/signout.gif
Labels: assigned for review, ready for final review, tech tutorial
